@import "../../vars.scss";

.button {
    display: flex;
    border: 1px $gray solid;
    border-radius: 15px;
    color: $white;
    padding: 10px 15px;

    text-align: center;
    justify-content: center;
    align-items: center;
    
    

    font-weight: 900;
    transition: all 100ms;
    
    &:hover {
        cursor: pointer;
        text-shadow: white 0 0 15px;
    }
    &:active {
        background-color: $gray;
    }
    
    &__green {
        color: rgb(17, 189, 17);
        border-color: rgb(20, 110, 20);
        &:hover{
            text-shadow: rgb(0, 255, 0) 0 0 15px;
        }
        &:active {
            color: $white;
            background-color: rgb(20, 110, 20);
        }
        
    }
    &__blue {
        color: rgb(31, 121, 255);
        border-color: rgb(20, 56, 110);
        &:hover{
            text-shadow: rgb(31, 121, 255) 0 0 15px;
        }
        &:active {
            color: $white;
            background-color: rgb(20, 56, 110);
        }
    }
    &__red {
        color: rgb(255, 0, 0);
        border-color: rgb(124, 15, 15);
        &:hover{
            text-shadow: rgb(255, 0, 0) 0 0 15px;
        }
        &:active {
            color: $white;
            background-color: rgb(124, 15, 15);
        }
    }
}

.content {
    display:  grid;
    gap: 15px;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    align-items: center;
}