@import "@/vars.scss";

.root {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    & input {
        height: 40px;

        transition: 200ms all;
        border-radius: 15px;
        padding: 5px;
        color: $white;
        font-size: 20px;
        text-align: center;
        background-color: black;
        border: $gray 1px solid;

        &[type="password"],
        &[type="text"] {
            outline: none;
            &:focus {
                border: 1px solid green;
            }
        }
    }
}
.md_editor {
    font-size: 18px;
    width: 100%;
    text-align: left;
    height:220px;

    transition: 200ms all;
    border-radius: 15px;
    padding: 5px;
    color: $white;
    font-size: 20px;
    background-color: black;
    border: $gray 1px solid;

    &[type="password"],
    &[type="text"] {
        outline: none;
        &:focus {
            border: 1px solid green;
        }
    }
}
.md_container {
    display: initial;
}
