@import "@/vars.scss";

.root {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    & input, textarea {
        height: 40px;

        transition: 200ms all;
        border-radius: 15px;
        padding: 5px;
        color: $white;
        font-size: 20px;
        text-align: center;
        background-color: black;
        border: $gray 1px solid;

        &[type="password"],
        &[type="text"] {
            outline: none;
            &:focus {
                border: 1px solid green;
            }
        }
    }
    & textarea {
        text-align: left;
        height: fit-content;
    }
}
.md_editor {
    font-size: 18px;
    width: 100%;
}
.md_container {
    display: initial;
}