.section {
    margin: 30px 0;
    height: 800px;

    
}

.hero {
    display: grid;
    grid-auto-flow: row;
    height: 400px;
    gap: 20px;
    align-items: center;

    @media screen and (max-width: 425px) {
        & {
            height: 200px;
        }
    }
}

.title {
    font-size: 100px;

    justify-self: center;
    align-self: center;
    @media screen and (max-width: 425px) {
        & {
            font-size: 30px;
        }
    }
}

.desc {
    display: flex;
    flex-direction: column;

    &__title {
        font-weight: 300;
        font-size: 30px;

        justify-self: center;
        align-self: center;
    }
}
.hero_btns {
    justify-self: center;
    width: 170px;
}


.language {
    color: green;
    font-weight: 900;
}


// LEARNING

.learning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 120px 1fr;
    gap: 30px;

    &__title {
        font-size: 80px;
        grid-column: 1 / span 2;
        text-align: center;
    }
    &__desc {
        grid-row: 2;
        grid-column: 2;
        align-self: center;
    }
    &__media {
        grid-row: 2;
        grid-column: 1;
        width: 100%;
        height: auto;
    }
}

// ABOUT

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 120px auto;
    gap: 30px;

    &__title {
        font-size: 80px;
        grid-column: 1 / span 2;
        text-align: center;
    }
    &__desc {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
    }
    &__media {
        grid-row: 2;
        grid-column: 2;
        width: 100%;
        height: auto;
    }
}


.loading {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        display: grid;
        gap: 15px;
        grid-auto-flow: row;
    }
    &__centered {
        justify-self: center;
    }
    
}