@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700;800&display=swap");

.html * {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #000000;
    color: #e6e6e6;
    font-family: "JetBrains Mono", monospace;
}
@media screen and (max-width: 2560px) {
    .body {
        padding: 0 400px;
        color: #e6e6e6;
    }    
}
@media screen and (max-width: 1440px) {
    .body {
        padding: 0 200px;
    }    
}

@media screen and (max-width: 1024px) {
    .body {
        padding: 0 150px;
    }    
}
@media screen and (max-width: 768px) {
    .body {
        padding: 0 20px;
    }    
}

