@import "../../vars.scss";


.root {
    border-radius: 15px;
    border: 1px solid $gray;

    width: 400px;
    padding: 25px;

    @media screen and (max-width: 425px) {
        & {
            border: none;
            padding: 0;
            margin: 0 15px;
        }
    }
}